extends layout.pug 

block head 
    title about us 


block content 
    .container 
        .row 
            .card 
                .card-body 
                    h1.display-4 about this website 
                    p.lead Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem libero id alias molestias eos, hic, corrupti ea fugiat voluptatibus sequi similique exercitationem error reiciendis ab, maiores eveniet architecto sapiente officia.