extends layout.pug 


block content
    .container.mt-5
        .row  
            .col-lg-12 
                table.table.table-hover.table-bordered 
                    tr 
                        th Id.
                        th Name
                        th Contact
                        th Email
                        th Collage
                        th Class
                        th Action
                    tr 
                        td 1.
                        td Ayush Kumar
                        td 9117685337
                        td call@gmail.com
                        td PU
                        td BCA 1st
                        td
                            a.btn.btn-danger(href="") 
                                i.bi.bi-trash.text-dark
                            a.btn.btn-warning(href="").mx-3 
                                i.bi.bi-pencil-square
                    tr 
                        td 2.
                        td Anish Mehta 
                        td 9117685337
                        td pug@gmail.com
                        td PU
                        td BCA 1st
                        td
                            a.btn.btn-danger(href="") 
                                i.bi.bi-trash.text-dark
                            a.btn.btn-warning(href="").mx-3 
                                i.bi.bi-pencil-square
                    tr 
                        td 3.
                        td Smriti Keshri
                        td 9117685337
                        td kharush@gmail.com
                        td PU
                        td BCA 1st
                        td
                            a.btn.btn-danger(href="") 
                                i.bi.bi-trash.text-dark
                            a.btn.btn-warning(href="").mx-3 
                                i.bi.bi-pencil-square
                    tr 
                        td 4 .
                        td Nikita
                        td 9117685337
                        td siso@gmail.com
                        td PU
                        td BCA 1st
                        td
                            a.btn.btn-danger(href="") 
                                i.bi.bi-trash.text-dark
                            a.btn.btn-warning(href="").mx-3 
                                i.bi.bi-pencil-square    