html
    head
        title homepage
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css")
        link(rel="stylesheet", href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css")
        block head
        style(type="text/css").
            .bg-orange{
                background-color: orangered
            }
    body    
        .navbar.navbar-expand-lg.navbar-light.bg-danger
            .container 
                a.navbar-brand(href="#").fs-3.fw-bold.fst-italic SMS
                form.d-flex(action="").mx-auto.my-auto
                    input.form-control(type="search")
                    .btn.btn-dark(type="submit")
                        i.bi.bi-search.p-1.text-light
                ul.navbar-nav.fs-5
                    li.nav-item.me-3
                        a.nav-link(href="/") Home 
                            i.bi.bi-house-fill
                   
        block content
            .container 
                .row 
                    .col-6.mx-auto.fixed-bottom.text-center 
                        p All Right Reserved @ copyright 2021